@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #eee;
}

body {
  background-color: #111;
  font-family: 'Poppins', sans-serif;
}
